@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-container {
  display: flex;
  width: 30%;
}
.search-box {
  height: 50px;
  width: 80%;
  color: #000;
  background-color: #F6F6F6;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding-left: 12px;
}
.search-btn {
  height: 50px;
  width: 20%;
  color: #FFF;
  background-color: #5DB075;
  font-family: Inter;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}
.search-btn:active {
  background-color: #5db074a2;
}
.card {
  display: flex;
  border: 1px solid black;
  width: 30%;
  margin: 100px;
  padding: 25px;
  border-radius: 12px;
}
.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 12px;
}

@media screen and (max-width: 780px) {
  .search-container {
    width: 80%;
  }
  .card {
    width: 80%;
  }
  .search-btn {
    font-size: .75rem;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .search-container {
    width: 50%;
  }
  .card {
    width: 50%;
  }
}